lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
/shapes
/chatapp/client/compatibility/paper-full.min.js
/chatapp/client/compatibility/shapes.js
/chatapp/server/_smtp.js
