html {
  padding: 10px;
  font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
  float: right;
}

.discushape {
  display: block;
  overflow: auto;
}

.discushape.selected {
  background: blue;
}

.discushape > canvas {
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.chatting #mainpane {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
}

body.chatting #chatpane {
  position: fixed;
  right:0;
  top:0;
  height: 100%;
  width: 50%;
  border-left:1px solid gray;
}
