html {
  padding: 5px;
  font-family: Verdana, sans-serif;
}

* {
  box-sizing: border-box;  
}

#login-buttons {
  float: right;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}

#mytags {
  font-size: 16px;
  width: 300px;
}

#pitch {
  font-size: 11px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
}

.discushape {
  display: block;
  overflow: auto;
  padding: 5px;
  text-decoration: none;
  border: 0;
}

.discushape p {
  line-height: 64px;
}

.discushape.selected {
  background: rgb(194, 230, 255);
}

.discushape > span {
  background: red;
}

.discushape > canvas {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  -webkit-user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.chatting #mainpane {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  padding: 5px;
  overflow-y: auto;
}

body.chatting #chatpane {
  position: fixed;
  right:0;
  top:0;
  height: 100%;
  width: 50%;
  border-left:1px solid gray;
  padding: 5px;
  overflow-y: auto;
  background: white;
}
